@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    box-sizing: border-box;
    --emerald-dark: #064e3b;
    --emerald-medium: #10b981;
    --emerald-light: #6ee7b7;
    --emerald-text: #022c22;
    --gray-bg: rgba(156, 160, 156, 0.384);
    --text: #52525b;
}
    
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    font-family: Roboto;

    display: grid;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "nav header"
    "nav main";
}

/* ----------------- Nav ------------------- */

nav {
    background-color: var(--emerald-medium);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 20px;
    
    grid-area: nav;
    z-index: 2;
    display: grid;
    align-content: start;
    gap: 70px;
}

nav .links-one li:not(:last-child),
nav .links-two li:not(:last-child){
    margin-bottom: 20px;
}

nav .links-one,
nav .links-two {
    margin-left: 20px;
}

nav .links a {
    text-decoration: none;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
}

nav .links a:visited{
    color: white;
}

nav .links a:hover{
    color: var(--emerald-dark);
}

nav .dashboard {
    font-size: 2rem;
    margin-left: 12px;
}

nav .dashboard a {
    gap: 8px;
}

nav .dashboard img {
    height: 2.5rem;
}

nav img {
    height: 1.5rem;
}

/* --------------- Header ------------------ */

header {
    background-color: white;
    box-shadow: 0px 1px 5px 0 rgb(184, 183, 183);
    color: var(--emerald-text);
    
    grid-area: header;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
}

.header-searchbar {
    padding-left: 50px;
    
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 14px;
}

.header-searchbar img {
    height: 1.75rem;
}

.header-searchbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-searchbar input{
    height: 30px;
    width: 95%;
    border-radius: 14px;
    border: none;
    background-color: var(--gray-bg);
    padding-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--emerald-text);
}

.header-searchbar input:focus{
    outline: 3px solid var(--emerald-medium);
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

.header-searchbar input + span{
    position: relative;
}

.header-searchbar input:focus + span button{
    position: absolute;
    left: -24px;
    top: 0;
}

.header-searchbar input:focus + span button::before{
    content: "✖";
    color: var(--emerald-medium);
    font-size: 1.2rem;
}

.header-icons {
    padding-right: 100px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.header-icons img {
    height: 1.5rem;
}

.header-icons .profile-image {
    background-color: var(--emerald-medium);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.header-icons .name {
    font-size: 1.3rem;
    font-weight: 500;
}

.header-greeting {
    padding-left: 50px;
    font-weight: 500;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.header-greeting .profile-image-large {
    background-color: var(--emerald-medium);
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.header-greeting .greeting .message {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.header-greeting .greeting .account-name {
    font-size: 1.4rem;
}

.header-buttons {
    padding-right: 100px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.header-buttons button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--emerald-medium);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.header-buttons button:hover{
    color: var(--emerald-dark);
}

/* ---------------- Main -------------------- */

main {
    background-color: var(--gray-bg);
    grid-area: main;
}

